.main-content {
    background: linear-gradient(to bottom, #0e5851, #158479, #1cb0a2, #22ddca, #4fe3d5, #7beadf, #a7f1ea, #fff);
}

.main-banner {
    width: 750px;
    height: auto;
    border-radius: 5px;
}

.colorfull-shirts {
    width: 650px;
    height: auto;
    border-radius: 5px;
}

.icon-64 {
    width: 64px;
    height: 64px;
}