.products-page {
    background: linear-gradient(to bottom, #0e5851, #158479, #1cb0a2, #22ddca, #4fe3d5, #7beadf, #a7f1ea, #fff);
}

.product-image {
    max-width: 450px;
    height: auto;
    max-height: 450px;
}